/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

 .stripe-button {
     background-color: aqua;
 }

 .searchbar {
     width: 1000px;
     margin: 0;
 }

.textfield{
    width: 800px;
    margin: 0;
 }
 .container {
     margin: 0, 3em;
 }
 h2{
     text-align: center;
 }
 .product-detail {
     color: red;
 }
 .featured{
     display: inline-flex;
     margin: 0;
 }
 .featured-content{
     margin: 0;
     display: inline-block;
     max-width: 300px;
 }
//  .featured-image{
//      max-width: 300px;
//  }
//  .featured-name{
//     max-width: 300px;
//  }
//  .featured-cost{
//      max-width: 300px;
//  }
//  .featured-description{
//      max-width: 300px;
//  }