<h1>Thank you</h1>


<br><br><br>


<h3>What a Good Purchase !!!</h3>


   <p>Product: <%=@product.name%></p>
    <p>Price: $<%=@product.cost%></p>
    <p>Product Location: <%= @product.location%></p>
    